[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Chiron maintainers
	push = +force group Chiron maintainers
	pushMerge = group Chiron maintainers
	label-Code-Review = -2..+2 group Chiron maintainers
	label-Verified = -1..+1 group Chiron maintainers
	submit = group Chiron maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Chiron maintainers
